<%= form_for @pessoa do |f| %>
<% if @pessoa.errors.any? %>
<fieldset id="erros">
   <div class="ui-state-error ui-corner-all" style="padding: 5px; width: 50%">
     <h3><%= t('errors.messages.titulo') %>:</h3>
     <br>
     <ul>
       <% @pessoa.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
     </ul>
   </div>
</fieldset>
<% end %>
<hr>
          <div class="clearfix">    
   	     <%= f.label :nome %>
		<div class="input">
	     <%= f.text_field :nome %>
	    </div>
      </div>
          <div class="clearfix">    
   	     <%= f.label :idade %>
		<div class="input">
	     <%= f.number_field :idade %>
	    </div>
      </div>
          <div class="clearfix">    
   	     <%= f.label :cpf %>
		<div class="input">
	     <%= f.text_field :cpf %>
	    </div>
      </div>
          <div class="clearfix">    
   	     <%= f.label :rg %>
		<div class="input">
	     <%= f.text_field :rg %>
	    </div>
      </div>
          <div class="clearfix">    
   	     <%= f.label :titulo_eleitor %>
		<div class="input">
	     <%= f.text_field :titulo_eleitor %>
	    </div>
      </div>
          <div class="clearfix">    
   	     <%= f.label :data_nascimento %>
		<div class="input">
	     <%= f.date_select :data_nascimento %>
	    </div>
      </div>
          <div class="clearfix">    
   	     <%= f.label :observacoes %>
		<div class="input">
	     <%= f.text_area :observacoes %>
	    </div>
      </div>
      
  <div class="actions">
    <%= f.submit t('botao.submit'), :class => "btn primary" %>
    <a href="<%= pessoas_path %>"><button class="btn" name="btnback"><%= t('botao.cancelar')%></button></a>
  </div>
<% end %>

<script>

 $('#pessoa_descricao').focus();

</script>