<h1><%= t('app.menu.listagem')%>&nbsp;<%= t('app.menu.pessoa')%></h1>
<%= form_for(@pessoa, :html => { :method => :get }, :url => pessoas_path) do |f| %>

	<table class="zebra-striped">
	  <tr>
					<th><%= t('pessoa.nome') %></th>
	    			<th><%= t('pessoa.idade') %></th>
	    			<th><%= t('pessoa.cpf') %></th>
	    			<th><%= t('pessoa.rg') %></th>
	    			<th><%= t('pessoa.titulo_eleitor') %></th>
	    			<th><%= t('pessoa.data_nascimento') %></th>
	    			<th><%= t('pessoa.observacoes') %></th>
	    	    <th></th>
	 </tr>
	  <tr class="pesquisa">
	   		      <th><%= f.text_field :nome %></th>
        	      <th><%= f.number_field :idade %></th>
        	      <th><%= f.text_field :cpf %></th>
        	      <th><%= f.text_field :rg %></th>
        	      <th><%= f.text_field :titulo_eleitor %></th>
        	      <th><%= f.date_select :data_nascimento %></th>
        	      <th><%= f.text_area :observacoes %></th>
        	
		<th><%= f.submit t('botao.pesquisar'), :class => "btn primary" %></th>
	  </tr>
	</table>
<% end %>

<% if @pessoas.size > 0  %>
 <table class="zebra-striped">
  <tr>
	    	<th width="10%"><%= t('pessoa.nome')%></th>
        	<th width="10%"><%= t('pessoa.idade')%></th>
        	<th width="10%"><%= t('pessoa.cpf')%></th>
        	<th width="10%"><%= t('pessoa.rg')%></th>
        	<th width="10%"><%= t('pessoa.titulo_eleitor')%></th>
        	<th width="10%"><%= t('pessoa.data_nascimento')%></th>
        	<th width="10%"><%= t('pessoa.observacoes')%></th>
    	<th></th>
    <th></th>
    <th></th>
  </tr>

 <% @pessoas.each do |pessoa| %>
  <tr>
	    	<td><%= pessoa.nome %></td>
        	<td><%= pessoa.idade %></td>
        	<td><%= pessoa.cpf %></td>
        	<td><%= pessoa.rg %></td>
        	<td><%= pessoa.titulo_eleitor %></td>
        	<td><%= pessoa.data_nascimento %></td>
        	<td><%= pessoa.observacoes %></td>
        <td><%= link_to t('botao.detalhes'), pessoa %></td>
    <td><%= link_to t('botao.editar'), edit_pessoa_path(pessoa)%></td>
    <td><%= link_to t('botao.excluir'), pessoa, 
	confirm: 'Tem certeza que deseja excluir este registro?', method: :delete %></td>
  </tr>
 <% end %>
 </table>
	<div class="apple_pagination">
	    <%= will_paginate @pessoas, :container => false, :next_label => 'Próximo', :previous_label => 'Anterior' %>
	</div>
<% end %>

<br />

<a href="<%= new_pessoa_path %>">
	<button class="btn" name="btnpesquisa"><%= t('pessoa.acao.novo')%></button></a>
