<h1><%= t("pessoa.acao.detalhar") %></h1>
<hr>

 
	<p>
	  <b><%= t('pessoa.nome')%>:</b>
	  <%= @pessoa.nome if @pessoa  %>
	</p>
 
	<p>
	  <b><%= t('pessoa.idade')%>:</b>
	  <%= @pessoa.idade if @pessoa  %>
	</p>
 
	<p>
	  <b><%= t('pessoa.cpf')%>:</b>
	  <%= @pessoa.cpf if @pessoa  %>
	</p>
 
	<p>
	  <b><%= t('pessoa.rg')%>:</b>
	  <%= @pessoa.rg if @pessoa  %>
	</p>
 
	<p>
	  <b><%= t('pessoa.titulo_eleitor')%>:</b>
	  <%= @pessoa.titulo_eleitor if @pessoa  %>
	</p>
 
	<p>
	  <b><%= t('pessoa.data_nascimento')%>:</b>
	  <%= @pessoa.data_nascimento if @pessoa  %>
	</p>
 
	<p>
	  <b><%= t('pessoa.observacoes')%>:</b>
	  <%= @pessoa.observacoes if @pessoa  %>
	</p>

<div class="actionsShow">
	<a href="<%= edit_pessoa_path %>">
		<button class="btn primary" name="btnback"><%= t('botao.editar')%></button></a>&nbsp; 
	<a href="<%= pessoas_path %>"><button class="btn" name="btnback"><%= t('botao.voltar')%></button></a>
</div>