<h1><%%= t("<%= singular_table_name %>.acao.detalhar") %></h1>
<hr>

<% attributes.each do |attribute| -%> 
	<p>
	  <b><%%= t('<%= singular_table_name %>.<%= attribute.name %>')%>:</b>
	  <%%= @<%= singular_table_name %>.<%= attribute.name %> if @<%= singular_table_name %>  %>
	</p>
<% end -%>

<div class="actionsShow">
	<a href="<%%= edit_<%= singular_table_name %>_path %>">
		<button class="btn primary" name="btnback"><%%= t('botao.editar')%></button></a>&nbsp; 
	<a href="<%%= <%= plural_table_name %>_path %>"><button class="btn" name="btnback"><%%= t('botao.voltar')%></button></a>
</div>