<!DOCTYPE html>
<html>
<head>
  <title><%= t("app.nome_completo") %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/"><%= t("app.nome") %></a>
          <ul class="nav">
            <li class='<%=@class_home %>' ><a href="/home"><%= t("app.menu.home") %></a></li>
            <li class='<%=@class_capa %>' ><a href="/capa"><%= t("app.menu.capa") %></a></li>
          </ul>
        </div>
      </div>
    </div>

 <div class="container">
    <div class="content">
		<div class="page-header">
		 </div>
     	<div class="row">
		   <div>
			<% if notice.present? %>
			    <script>showNotification(true,'<%= notice %>');</script>
			<% end %>	
			<% if alert.present? %>
			    <script>showNotification(false,'<%= alert %>');</script>
			<% end %>
             <%= yield %>
           </div>
        </div>      
    </div>
    <footer>
	  <p>© <%= t("app.nome_completo") %> 2012</p>
	</footer>
 </div>
</body>
</html>
